.form-error-text {
  color: map-get($colors, txt-error) !important;
}

.custom-upload {
  width: 100%;
  .custom-upload-preview {
    margin-top: 24px;
    padding: 10px;
    border: 1px solid map-get($colors, black);
    align-items: center;
    .image-preview {
      width: 100px;
      height: 100px;
      overflow: hidden;
      padding: 10px;
      border: 1px solid map-get($colors, black);
      background-color: map-get($colors, white);
      img {
        object-fit: contain;
      }
    }
    .remove-avatar-button {
      font-size: 18px;
      margin-left: auto;
    }
  }
}
