.page-employee-detail {
  min-height: 100%;
  .card-employee {
    width: 60%;
  }
  .card-cover {
    padding: 20px;
    .cover-avatar-wrapper {
      padding: 10px;
      border: 1px solid map-get($colors, black);
    }
  }
  .cover-description {
    margin-left: 30px;
    .item-description {
      margin-left: 50px;
    }
    .list-item-description {
      margin-bottom: 15px;
    }
  }
  .ant-tabs-nav-wrap {
    justify-content: center;
    .ant-tabs-nav-list {
      justify-content: center;
    }
  }
  .equipment-tab {
    width: 100%;
  }
  .ant-card-cover {
    padding: 10px;
    border: 1px solid map-get($colors, black);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }
}
