.page-edit {
  display: flex;
  flex-direction: column;
  height: 100%;
  .ant-form-item-control-input-content {
    display: flex;
  }
  .custom-input {
    width: 100%;
  }
  .loading-wrapper {
    flex-grow: 1;
  }
  .action-group-button {
    margin-left: auto;
  }
}
