.page-employees {
  .div-wrapper {
    align-items: center;
    .page-title {
      margin-bottom: 0;
    }
  }
  .loaddb-wrapper {
    width: 55.7667px;
    height: 32px;
    background-color: #f0f2f5;
    margin-left: auto;
    .loaddb-inner {
      display: none;
    }
    &:hover .loaddb-inner {
      display: inline-block;
    }
  }
  .number-span {
    margin-left: 8px;
  }
  .vacation-period {
    margin-bottom: 0;
    margin-left: 80px;
  }
  .add-button-wrapper {
    margin-left: auto;
  }
  .avatar-table-wrapper {
    width: 150px;
    height: 150px;
  }
}
