.page-login {
  background: linear-gradient(
    136deg,
    rgb(224, 195, 252) 0%,
    rgb(142, 197, 252) 100%
  );
  .row {
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    .logo-wrapper {
      text-align: center;
      margin-bottom: 20px;
    }
    .form-name {
      text-align: center;
    }
  }
  .form-login {
    padding: 30px;
    background-color: map-get($colors, white);
    .form-error {
      color: map-get($colors, txt-error);
    }
    .form-btn-wrapper {
      margin-bottom: 0;
    }
  }
}
