.page-header {
  background-color: map-get($colors, white) !important;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid map-get($colors, black);
  width: 100%;
  .header-right-panel {
    margin-left: auto;
    .span-user-name {
      margin-left: 20px;
    }
  }
}
