body {
  position: relative;
  .ant-tooltip-inner {
    .menu-item-link {
      color: map-get($colors, white);
    }
  }
  .page-layout {
    transition: all 0.2s;
    position: relative;
    .pr-130 {
      padding-right: 130px !important;
    }
    .pr-250 {
      padding-right: 250px !important;
    }
  }
}
